.container{
    display: block;
    width: 60%;
}

.custom-header{
    background-color: rgb(2, 2, 77);
}
.btn-custom {
    background-color: rgb(2, 2, 77) !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.btn-custom:hover {
    background-color: rgb(28, 21, 158) !important;
}

.btn-close {
    filter: invert(1); /* Convierte el color a blanco */
}

/*Para que no se pueda seleccionar el boton */
#btnCrear[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}


/* Estilo para el botón de actualizar */


#btnActualizar[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

/*To add dynanism to the error message*/
.mensaje-error {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.3s ease, visibility 0.3s ease !important;
    display: inline-block !important;
    min-height: 1rem !important;
    pointer-events: none !important;
}

.mensaje-error.visible {
    opacity: 1 !important;
    visibility: visible !important;
}

.btn-close {
  filter: invert(1) !important;
}


